.stopwatch {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: 12rem;
    font-family: 'Courier New', Courier, monospace;
}

.stopwatch__face {
    padding: 0 2rem;
}

.face__time--elapsed {
    font-weight: bolder;
    font-size: 1.75rem;
}

.stopwatch__laps {
    border-bottom: 1px solid #CCC;
    border-top: 1px solid #CCC;
    flex-grow: 1;
    margin: 0.5rem 0 0 0;
    min-height: 3rem;
    overflow-y: auto;
}

.stopwatch__controls {
    display: flex;
    justify-content: space-evenly;
    margin: 0.5rem 0;
}

.controls__button {
    border: 1px solid transparent;
    background: none;
    line-height: 2rem;
    font-size: 1.25rem;
    padding: 0 0.5rem;
}

.controls__button--play {
    background-color: #F6F6F6;
    border: 1px solid #CCC;
}